/.github/ export-ignore
/tests/ export-ignore
/.editorconfig export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/.php-cs-fixer.php.dist export-ignore
/.phpstorm.meta.php export-ignore
/Makefile export-ignore
/phpunit.xml.dist export-ignore
/test-all.sh export-ignore
/test-one.sh export-ignore
