<html xmlns:c="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:be.pageRenderer includeJavaScriptModules="{0: '@grossberger-georg/run-script/dropdown.js'}" />

<h3 class="dropdown-headline"><f:translate key="LLL:EXT:run_script/Resources/Private/Language/locallang.xlf:dropdown.header" /></h3>

<hr class="dropdown-divider">

<ul class="dropdown-list">

    <f:for each="{items}" as="item">
        <li>
            <a href="#" class="dropdown-item" data-toggle="tx_runscript" data-script="{item.key}" data-reload-backend="{item.reloadBackend}">
                <span class="dropdown-item-columns">
                    <span class="dropdown-item-column dropdown-item-column-icon" data-container="status-idle"><c:icon identifier="{item.icon}" size="small" /></span>
                    <span class="dropdown-item-column dropdown-item-column-icon text-info hidden" data-container="status-busy"><c:icon identifier="spinner-circle-light" size="small" /></span>
                    <span class="dropdown-item-column dropdown-item-column-text">{item.label}</span>
                </span>
            </a>
        </li>
    </f:for>

</ul>

</html>
