<html xmlns:c="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:be.pageRenderer addJsInlineLabels="{
    0: 'modal.header.error',
    1: 'modal.header.success',
    2: 'modal.header.running',
    3: 'message.finished',
    4: 'message.reload'
}" includeJsFiles="{0: '{f:uri.resource(path: \'JavaScript/RunScript.js\', extensionName: \'RunScript\')}'}" />

<h3 class="dropdown-headline"><f:translate key="dropdown.header" /></h3>

<hr>

<div class="dropdown-table">

    <f:for each="{items}" as="item">
        <div class="dropdown-table-row">
            <a href="#" data-toggle="tx_runscript" data-script="{item.key}" data-reload-backend="{item.reloadBackend}">
                <div class="dropdown-table-column dropdown-table-icon">
                    <div data-container="status-idle"><c:icon identifier="{item.icon}" size="small" /></div>
                    <div data-container="status-busy" style="display: none"><c:icon identifier="spinner-circle-light" size="small" /></div>
                </div>
                <div class="dropdown-table-column dropdown-table-title">{item.label}</div>
            </a>
        </div>
    </f:for>

</div>

</html>
